<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="chethan.TestComoponents.listeners"></listener>
</listeners>
  <!--<test thread-count="5" name="orderValidations">
  <groups>
<run>
	<include name="purchaseOrder" />
	</run>
</groups>
    <classes>
      <class name="chethan.SeleniumFrameWork.SubmitOrder1"/>      
    </classes>
  </test> 
  
   Test -->
  <test thread-count="5" name="Purchase">
    <classes>    
      <class name="chethan.SeleniumFrameWork.SubmitOrder"/>
    </classes> 
  </test> <!-- Test --> 
</suite> <!-- Suite -->
